{% extends "base.html.twig" %} 

{% block content %}
{#     <h1>Titre</h1>

    <div class="jumbotron">
        <p>{{ exp_email }}</p>
        <p>vous invite à télécharger:</p>
        <p>{{ file }}</p>
        <p>Taille: {{ size }}</p>
        <p>Cliquez ci-dessous pour télécharger le fichier: </p>
        <a class="btn btn-primary" href="{{ url('download/') ~ fake}}" role="button">Télécharger</a>
    </div> #}

<div class="row">

        <div class="col-12 col-sm-12 col-md-2 col-lg-2"></div>

            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="bloc_central">
                    <div class="cercle">
                        <div class="test">
                            <div class="losange"></div>

                            <div class="bloc_download">

                                <p><h2>{{ exp_email }}</h2><br>
                                <h2 class="h2_download">Vous invite à télécharger :</h2>
                                <span class="backgroundTextOpen">Fichier :</span><span class="backgroundTextEnd">{{ file }}</span><br><br>
                                <span class="backgroundTextOpen">Taille :</span><span class="backgroundTextEnd">{{ size }}</span></p>
                                <a href="{{ url('download/') ~ fake}}"><button class="btnDownload">Télécharger</button></a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2"></div>

                        </div>
    
{% endblock %}